<h2 id='poster'>Poster</h2>

<div>
<img src="<%= @poster %>" alt="">
</div>
<div>
<h1><%= @title %></h1>
<h3><%= @first_movie %></h3>
</div>


<p><%= @plot %></p>


<img src="<%= @tmb_poster %>" alt="">
